Button {
    width:25%;
    margin:2.5% 3%;
    padding: 7.5% 0px;
    font-size: 1.5rem;
    border:none;
    transform: skewX(-10deg);
}

Button:hover {
    background-color: rgba(0,0,0,0.33);
}

.active {
    border: 5px solid #a2f1f5b2;
}

.inactive {
    border: 5px solid transparent;
}

#css-width {
    padding-top: 4%;
    height:100vh;
    text-align: center;
    background: linear-gradient(30deg, #b84100, #ffc404);
    color:white;
}

.cssbg {
    background: url(../assets/phoneCSSBG.png) center;
    color:white
}

.reactbg {
    background: url(../assets/phoneREACTBG.png) center;
    color:white
}

.angularbg {
    background: url(../assets/phoneANGULARBG.png) 25%;
    color: white
}

.htmlbg {
    background: url(../assets/phoneHTMLBG.png) 25%;
    color: white;
}

.top-row, .middle-row, .bottom-row {
    display: inline-block;
}



/* @media only screen and (max-width: 500px) {
    Button {
        width:25%;
        font-size: 1.5rem;
        border:none;
        transform: skewX(-10deg);
    }

    #HTML {
        background: url('../assets/HTML5-logo.png') center;
        background-size: 210%;
        background-color: #e44d26;

    }
    
    #CSS {
        background: url('../assets/CSS3-logo.png') center;
        background-size: 210%;
        background-color: #379ad6;
    }
    
    #JS {
        background: url('../assets/JavaScript-logo.png') bottom;
        background-size: 150%;
        background-color: #f0db4f;
    }
    
    #React {
        background: url('../assets/React-logo.png') center;
        background-size: 330%;
        background-color: #1d1d1d;
    }
    
    #Angular {
        background: url('../assets/Angular-logo2.png') center;
        background-size: 155%;
        background-color: #36393f;
    }

    #API {
        background: url('../assets/apiBG.png') center;
        background-size: 205%;
    }

    #Mashr {
        background: url('../assets/MashBG.png') center;
        background-size: 380%;
    }
} */

@media only screen and (max-width: 1359px) {
    Button {
        width:25%;
        font-size: 1.5rem;
        border:none;
        transform: skewX(-10deg);
    }

    #HTML {
        background: url('../assets/HTML5-logo.png') center;
        background-size: 155%;
        background-color: #e44d26;
    }
    
    #CSS {
        background: url('../assets/CSS3-logo.png') center;
        background-size: 155%;
        background-color: #379ad6;
    }
    
    #JS {
        background: url('../assets/JavaScript-logo.png') bottom;
        background-size: 120%;
        background-repeat: no-repeat;
        background-color: #f0db4f;
    }
    
    #React {
        background: url('../assets/React-logo.png') center;
        background-size: 320%;
        background-color: #1d1d1d;
    }
    
    #Angular {
        background: url('../assets/Angular-logo2.png') center;
        background-size: 105%;
        background-repeat:no-repeat;
        background-color: #36393f;
    }

    #API {
        background: url('../assets/apiBG.png') center;
        background-size: 185%;
    }

    #Mashr {
        background: url('../assets/MashBG.png') center;
        background-size: 310%;
    }
}

@media only screen and (min-width: 1360px) {

    #manlet {

    }

    Button {
        width:12.5%;
        font-size: 1.5rem;
        border:none;
        transform: skewX(-10deg);
    }

    #HTML {
        background: url('../assets/HTML5-logo.png') center;
        background-size: 155%;
        background-color: #e44d26;
    }
    
    #CSS {
        background: url('../assets/CSS3-logo.png') center;
        background-size: 155%;
        background-color: #379ad6;
    }
    
    #JS {
        background: url('../assets/JavaScript-logo.png') bottom;
        background-size: 120%;
        background-repeat: no-repeat;
        background-color: #f0db4f;
    }
    
    #React {
        background: url('../assets/React-logo.png') center;
        background-size: 320%;
        background-color: #1d1d1d;
    }
    
    #Angular {
        background: url('../assets/Angular-logo2.png') center;
        background-size: 105%;
        background-repeat:no-repeat;
        background-color: #36393f;
    }

    #API {
        background: url('../assets/apiBG.png') center;
        background-size: 185%;
    }

    #Mashr {
        background: url('../assets/MashBG.png') center;
        background-size: 310%;
    }
}